<div class="about">
    <div class="home_top">
        <div class="home_line_banner" style="">
            <a href="/"><img class="home_logo" src="/images/logo/limujiang.png"/></a>
        </div>
    </div>
    <div class="about_layout">
        <p style="line-height: 24px;">
            <span style="color: rgb(243, 39, 12);font-size: 22px;margin-right: 12px;font-weight: bold;">狸木匠</span>微信公众号回复
        </p>
    </div>
</div>


