<header class="main_top">
    <div class="main_header">
        <a href="/">
            <img class="main_logo" src="/images/logo/limujiang.png"/>
        </a>
        <a href="/" class="main_title_a"><h1 class="main_title" style="font-weight: normal;">关注程序员健康 - 狸木匠</h1></a>
        <!--<h2 class="main_header_h2">-->
        <!--<a href="/limujiang-group">微信群</a>-->
        <!--</h2>-->
        <div class="main_header_h2">
            <a href="https://weidian.com/?userid=318291100" target="_blank">店铺</a>
        </div>
    </div>
</header>