<div class="markdown-here-wrapper" style="max-width: 600px;margin: 0px auto;">
    <blockquote>
        <p>狸木匠周报分享生活或工作中，<strong>好物、工具、观念</strong>，提高我们的效率、增强健康意识</p>
        <p><strong>狸木匠 | 健行</strong> 微信群主题讨论并分享知识</p>
    </blockquote>
    <h3 id="-">① 小夜灯 + 台灯（智能化控制）</h3>
    <p style="text-align: center;"><img src="http://7wy48o.com1.z0.glb.clouddn.com/2016-12-22_00:03:19.jpg?imageView2/2/w/400" alt=""></p>
    <blockquote>
        <p>名称: 多功能网关 + 无线开关 + YeelightLED智能灯泡
            成本: 149(网关) + 39(无线开关) + 89(Yeelight) = 277元
            地址: <a href="http://www.mi.com/wangguan/?cfrom=list">http://www.mi.com/wangguan/?cfrom=list</a></p>
    </blockquote>
    <p>床上一键开关<strong>台灯</strong>及<strong>夜灯</strong>
        带来的好处:</p>
    <ul>
        <li>在床上可便捷开关灯(尤其在冬天+晚上孩子会醒多次)
            比用手机远程管理台灯更实际一些（晚上手机需要充电，还得通过手机打开app关灯，最后在把手机搁回桌子上，这功能我还不如下床关灯呢）</li>
        <li>不用黑灯瞎火的摸开关，及大的避免了碰洒杯子或其它物件
            注：解决此需求可能不是最经济的，但从体验及扩展性来讲应该是最合适的</li>
    </ul>
    <h3 id="-">② 快递查询工具</h3>
    <p style="text-align: center;"><img src="http://7wy48o.com1.z0.glb.clouddn.com/2016-12-22_06:21:08.jpg?imageView2/2/w/400" alt="2016-12-22_06:21:08.jpg"></p>
    <blockquote>
        <p>名称: Alfred + kd(插件)
            平台: Mac
            地址: <a href="http://t.pinapps.in/1kbBx">http://t.pinapps.in/1kbBx</a></p>
    </blockquote>
    <p>输入「kd」快速查看剪贴板中的快递单号信息，此过程无需选择是哪家快递公司，其次也可查看历史查询快递信息</p>
    <h3 id="-">③ 吸奇不倒杯</h3>
    <p style="text-align: center;"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2016-12-21-xiqi.jpg?imageView2/2/w/400" alt=""></p>
    <blockquote>
        <p>名称：MIGHTY MUG</p>
    </blockquote>
    <p>这款MIGHTY MUG是由美国品牌Alfay Designs所研发设计，并委托台湾知名生活用品制造商松升集团来制造，～而且MIGHTY MUG这个名字光听就觉得十分响亮，若直接按照字面意思翻译成中文便是强大的杯子，但到底是什么功能强大呢？特点是 - <strong>推不倒，轻松拿</strong>，因此有了 “吸奇不倒杯”的称号诞生！</p>
    <h3 id="-">④ 娱乐不是休息</h3>
    <p style="text-align: center;"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2016-12-21-66372-20160217172122597-573511941.jpg?imageView2/2/w/400" alt=""></p>
    <blockquote>
        <p>认知：娱乐不是休息</p>
        <p>来源：万维钢 • 精英日课</p>
    </blockquote>
    <p>我们先来猜一下，以下几个休息活动中，哪个效率最高？</p>
    <p>1、放松：什么都不干，做做白日梦，或者做几个伸展运动
        2、给身体补充点什么东西：喝杯咖啡之类
        3、社交：跟同事聊聊天
        4、认知：读读新闻，查看邮件</p>
    <p>研究结果非常明确--<strong>上网不但不能休息，反而会让我们变得更累</strong>。真正有用的休息是1、3两项。喝咖啡也没用。</p>
    <p>所以科学家的建议:</p>
    <p>第一个建议是要休息，先断网。
        第二个建议是短而频繁的休息比长时间工作然后长时间休息更好。
        第三个建议是最好休息的时候离开办公室。</p>



</div>