<div class="markdown-here-wrapper" style="max-width: 600px;margin: 0px auto;">
    <blockquote>
        <p><strong>狸木匠 | 健行</strong>分享生活或工作中，<strong>好物、工具、观念</strong>，提高我们的效率、增强健康意识。公众号后台回复关键字<strong>微信群</strong>获取入群通道</p>
        <p>分享主题「<strong>一件你工作或生活中的健康好物？</strong>」</p>
    </blockquote>
    <h3 id="-">① 乳胶枕</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2016-12-31-56330547e3b08.jpg?imageView2/2/w/400" alt=""></p>
    <blockquote>
        <p>推荐人：@凯凯刘</p>
    </blockquote>
    <p>依照人体工学的设计，有效的提高睡眠的质量和效果。有很好的吸湿性和透气性，特别适合打鼾的人，能有效的减少打鼾。能有效的改良颈椎，腰椎和降血压。乳胶枕可以有效的减少人体与纤维之间产生的静电。</p>
    <h3 id="-">② 泡脚片</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2016-12-31-cdbf6c81800a19d8a5d2214330fa828ba71e46a6.jpg?imageView2/2/w/400" alt=""></p>
    <blockquote>
        <p>推荐人：@Hackhook</p>
    </blockquote>
    <p>通过泡脚，中药成分渗透进皮肤，被足部毛细血管吸收，进入人体血液循环，从而达到调节体质，改善人体机能的作用。</p>
    <p>泡腾片与普通片剂的不同之处，就在于它还含有泡腾崩解剂，当泡腾片放入热水中之后，在泡腾崩解剂的作用下，即刻产生大量气泡（二氧化碳），使片剂迅速崩解和融化，有时崩解产生的气泡还会使药片在水中上下翻滚，加速其崩解和融化。</p>
    <h3 id="-">③ 防蓝光眼镜片</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2016-12-31-572aad4dN68040164.jpg?imageView2/2/w/400" alt=""></p>
    <blockquote>
        <p>Prisma Lite版参考价格：￥569</p>
        <p>推荐人：@狼崖雪并向你扔了条狗</p>
    </blockquote>
    <p>专用防蓝光眼镜不但能够有效的隔离紫外线与辐射而且能够过滤蓝光，适合在看电脑或者电视时使用，可以大大减轻蓝光对眼睛的刺激，消除眼睛酸涩、发热或者疼痛等不适症状，缓解眼睛疲劳。普通的防辐射眼镜只能过滤紫外线及一定的电磁辐射，而不能过滤蓝光。</p>
    <h3 id="-app">④ 移动健身工具App</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2016-12-31-screen696x696.jpeg?imageView2/2/w/400" alt=""></p>
    <blockquote>
        <p>名称：Keep</p>
        <p>推荐人：@Rock</p>
    </blockquote>
    <p>「Keep」是一款专注健身的移动健身工具App，由北京卡路里信息技术有限公司研发。Keep提供视频课程真人同步训练，用户可以根据兴趣选择课程，高阶健身用户还可DIY健身内容。Keep具有一定的社交属性，用户可以相互交流讨论。用户可在App Store及Android渠道下载。</p>
    <h3 id="-">⑤ “普朗克”时间</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2016-12-31-20160725091200105.png?imageView2/2/w/400" alt=""></p>
    <blockquote>
        <p>扩展：一个概念</p>
        <p>物理学家：马克斯·普朗克</p>
    </blockquote>
    <p>物理学上的“普朗克”时间，它等于普朗克长度除以光速，数值大约是10的-43次方秒。普朗克时间=普朗克长度/光速。（
        注：1普朗克时=0.0000000000000000000000000000000000000000001秒）</p>
    <p>普朗克长度，是物理学在理论上能够测量的最短距离；光速，是信息传递的最快速度。</p>
    <p><strong>好物分享还有：</strong></p>
    <p>跳跳糖 @@</p>
    <p>黄老五花生酥 @Michael Mao</p>
    <p>HHKB蓝牙版键盘 @吃圡死月不會碼代碼</p>
    <p>飞利浦的超声波电动牙刷 @爱发呆的猪</p>
    <p>买买买购物助手(浏览器插件) @@</p>


</div>