    <blockquote>
        <p>狸木匠 | 健行分享生活或工作中，好物、工具、观念，提高我们的效率、增强健康意识。公众号后台回复关键字微信群获取入群通道</p>
        <p>分享主题: 2016影响自己最大的一[书|观念|事]</p>
    </blockquote>
    <h3 id="-">① 微服务设计 | 架构风格与基于网络应用软件的架构设计</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-07-s28626997.jpg?imageView2/2/w/600" alt=""></p>
    <blockquote>
        <p>@无止境</p>
    </blockquote>
    <p>微服务设计: 本书全面介绍了微服务的建模、集成、测试、部署和监控，通过一个虚构的公司讲解了如何建立微服务架构。主要内容包括认识微服务在保证系统设计与组织目标统一上的重要性，学会把服务集成到已有系统中，采用递增手段拆分单块大型应用，通过持续集成部署微服务，等等。<br>架构风格与基于网络应用软件的架构设计: 讲述了HTTP和URI等Web基础技术架构规范背后的设计原则。基于相同的设计原则，Web开发者们如何设计并建造出最为高效的Web应用</p>
    <blockquote>
        <p>无止境: 前者让我真正认识微服务; 后者对restful架构风格有了进一步了解</p>
    </blockquote>
    <h3 id="-lt-lt-gt-gt-">② &lt;&lt;摄影笔记&gt;&gt;</h3>
    <p class="center">
        <img src="http://7wy48o.com1.z0.glb.clouddn.com/2017-01-07_06:55:58.jpg" alt=""></p>
    <blockquote>
        <p>推荐人: @吃圡死月不會碼代碼</p>
    </blockquote>
    <p>《摄影笔记》共分为8章，其中包含数码单反摄影相机、影调、曝光量、曝光组合、突出主题、光线、人像摄影、旅行摄影、纪实摄影、用照片表达自己的意图等章节。宁思潇潇通过自己亲身的拍摄经验，通俗的语言将摄影技术对读者娓娓道来。使读者真切的感受到学摄影并不难。</p>
    <blockquote>
        <p>吃圡死月不會碼代碼: 系统性重学了一遍理论基础，加之不断的实践反馈，让自己的摄影技术得到更扎实的提升</p>
    </blockquote>
    <h3 id="-lt-lt-gt-gt-">③ 漫画集: &lt;&lt;你今天真好看&gt;&gt;</h3>
    <h3 id="-http-7wy48o-com1-z0-glb-clouddn-com-2017-01-07_06-58-29-jpg-" class="center"><img src="http://7wy48o.com1.z0.glb.clouddn.com/2017-01-07_06:58:29.jpg" alt=""></h3>
    <blockquote>
        <p>推荐人: @吃圡死月不會碼代碼</p>
    </blockquote>
    <p>《你今天真好看》是一本清新暖萌的漫画集，收录了莉兹·克里莫150多张逗趣漫画。书中集结了所有你能想到的各种萌物，恐龙、棕熊、兔子、企鹅，甚至还有伞蜥、獾、土拨鼠、狐獴……在诙谐的对话中，它们展现出一种与生俱来的幽默感和令人艳羡的生活情趣。</p>
    <blockquote>
        <p>吃圡死月不會碼代碼: 心情不好时翻一翻会缓解自己的情绪</p>
    </blockquote>
    <h3 id="-">④ 软技能 代码之外的生存指南</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-07-s28889106.jpg?imageView2/2/w/600" alt=""></p>
    <blockquote>
        <p>@hackhook</p>
    </blockquote>
    <p>这是一本真正从“人”（而非技术也非管理）的角度关注软件开发人员自身发展的书。书中论述的内容既涉及生活习惯，又包括思维方式，凸显技术中“人”的因素，全面讲解软件行业从业人员所需知道的所有“软技能”。</p>
    <blockquote>
        <p>hackhook: 通读之后, 让我对自由职业者所面临的问题有了一个整体认识。比如如何打造个人品牌，何扩大自己的社交圈，如何提升生产力等问题</p>
    </blockquote>
    <h3 id="-">⑤ 把时间当做朋友</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-07-s3778613.jpg?imageView2/2/w/600" alt=""></p>
    <blockquote>
        <p>@凯凯刘</p>
    </blockquote>
    <p>从心智成长的角度来谈自我积累。李笑来老师通过自己职业生涯中遇到的事例，告诉我们：如何打开心智，如何运用心智来和时间做朋友，从而开启人生的成功旅程。畅销多年，虽经反复咀嚼依然不断有新的启发，令人受用至今——这就是本书的魅力！</p>
    <blockquote>
        <p>凯凯刘: 我推荐《把时间当做朋友》，慢慢体会到任何事都需要积累，需要刻意的练习，不断的正反馈，并应用到实际中。这一年里，对自己影响很大，也带动周围的人一起关注时间，共同成长</p>
    </blockquote>
    <h3 id="-">⑥ 复利效应</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-07-1614346007-1.jpg?imageView2/2/w/600" alt=""></p>
    <blockquote>
        <p>一个概念认知：复利效应</p>
    </blockquote>
    <p>(1+r)^n，其中1是你的起点，r代表每天的进步。它可以很小，但是你要保证，它一定是正的。</p>
    <p><strong>大家还分享了如下书籍:</strong></p>
    <ul>
        <li>实战ES2015：深入现代JavaScript 应用开发</li>
    </ul>
    <blockquote>
        <p>吃圡死月不會碼代碼: 影响就是想自己出书， 在2017年迭代出自己的第一部书籍</p>
    </blockquote>
    <ul>
        <li>JavaScript高级程序设计第三版</li>
    </ul>
    <blockquote>
        <p>@Michael Mao</p>
    </blockquote>
    <ul>
        <li>大败局</li>
    </ul>
    <blockquote>
        <p>@Rock
            大败局主要是讲一些新型企业盛极而衰的失败案例，从失败中去反思。</p>
    </blockquote>
    <ul>
        <li>怦然心动的人生整理魔法</li>
    </ul>
    <blockquote>
        <p>@放下是功夫
            让你丢掉消耗能量的东西</p>
    </blockquote>
    <ul>
        <li><p>货币战争 | 黄帝内经原文 | 易经全文翻译 | 三国演义 | 资治通鉴 | 李宗吾的厚黑学</p>
        </li>
        <li><p>奇特的一生</p>
        </li>
    </ul>


