    <blockquote>
        <p>「狸木匠 | 健行」分享生活或工作中，<strong>好物、工具、观念</strong>，提高我们的效率、增强健康意识。公众号后台回复关键字<strong>微信群</strong>获取入群通道</p>
    </blockquote>
    <p>生活和工作中，出行背包已经是每个人都会用到的物件。一款舒适的背包既满足物品携带的需求，也能体现自己的个性。下面几款是[健行]群内分享的背包，一起来看看吧。</p>
    <h3 id="-">① 迪卡侬</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-13-000646.jpg?imageView2/2/w/400" alt=""></p>
    <blockquote>
        <p>迪卡侬:￥19.9背包
            推荐人:@Timber</p>
    </blockquote>
    <p>这款19.9的背包可以看出，线条是非常规整的，缝合的也很完美，瑕疵几乎没有，这可以看出迪卡侬做工的用心，背起来很舒适，贴身。</p>
    <h3 id="-">② 北极狐双肩包</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-13-91c6JPaf1bL.jpg?imageView2/2/w/400" alt=""></p>
    <blockquote>
        <p>参考价：￥523</p>
        <p>名称：北极狐</p>
        <p>推荐人：@吃圡死月不會碼代碼</p>
    </blockquote>
    <p>创始人Åke Nordin先生，当他还是个的14岁的男孩时，就对当年的背包的背负系统进行了改良。10年后的1960年，他创建了一家公司并命名为Fjällräven（北极狐）。Fjällräven品牌经过50多年的发展，已经成为瑞典市场占有率第一的高端户外品牌，致力于为喜爱户外活动的人们提供功能强大、经久耐用、设计经典的户外服装和装备，其销售网络遍及全球。与此同时，Fjällräven获得了瑞典皇室御用品牌的殊荣，并且是瑞典本土唯一一家户外品牌获得此项殊荣。</p>
    <h3 id="-">③ 邮差包</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-15-marked-master.jpg?imageView2/2/w/600" alt=""></p>
    <blockquote>
        <p>品牌：TIMBUK2
            经典款参考价格：￥527
            推荐人:@hackhook</p>
    </blockquote>
    <p>Timbuk2就是制造邮差包的著名公司，它的创始人Rob Honeycutt就是一位邮差。Timbuk2 是单车信差袋的始祖，因其时尚简约的款式设计，加上多样化的颜色配搭，选用抗磨耐用材料，而成为极富现代感、不易退流行的型格Look，正符合一班型人格调！</p>
    <h3 id="-">④ 斜挎包</h3>
    <p class="center"><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-15-jne.jpg?imageView2/2/w/600" alt=""></p>
    <blockquote>
        <p>品牌：JNE</p>
        <p>参考价格：￥188</p>
        <p>推荐人：@凯凯刘</p>
    </blockquote>
    <p>穷游网旗下生活美学品牌JNE又推出新的文化周边产品——星期五旅行单肩斜挎包，价格为188元/个。共有四款颜色：橙色、灰色、黑色和红色。</p>
    <p>背包的规格为31<em>16</em>9cm，容量为4.5L。可以有多种背法，斜挎在背后或者斜挎在胸前都非常舒适。背在背后方便出行，而背在胸前可以防盗。</p>
    <h3 id="-">⑤ 一个概念：乌比冈湖效应</h3>
    <blockquote>
        <p>除了大家的推荐，每次周报会有一个概念认知推荐给大家</p>
    </blockquote>
    <p><strong>乌比冈湖效应</strong>（Lake Wobegon Effect），也称沃博艮湖效应，意思是高估自己的实际水平。社会心理学借用这一词，指人的一种总觉得什么都高出平均水平的心理倾向，即给自己的许多方面打分高过实际水平。用另一种通俗的说法，就是自我拉抬偏差(self-enhancing bias ).</p>
    <p><strong>其它推荐：</strong></p>
    <ul>
        <li>一加双肩包<blockquote>
                <p>推荐：@凯凯刘
                    参考价格：￥299</p>
            </blockquote>
        </li>
        <li>POLO 双肩包</li>
    </ul>
    <blockquote>
        <p>推荐人：@Rock</p>
        <p>参考价格：￥539</p>
    </blockquote>
    <p><strong>说在后面：</strong></p>
    <p>经常背背包，对身体健康有一定的影响，有的时候背后背着包，可能会影响到人体汗的排出，特别是在天气比较炎热的情况下，在背后背着一个小包，这样可能导致人出现流汗的现象，如果斜挎着背包，可能会引起肩颈方面的疼痛，严重的情况下，可能会导致肩周炎等疾病的产生，所以有的时候<strong>尽量少背背包</strong>。</p>

