<blockquote>
    <p>「狸木匠 | 健行」分享生活或工作中，<strong>好物、工具、观念</strong>，提高我们的效率、增强健康意识。公众号后台回复关键字<strong>微信群</strong>获取入群通道</p>
</blockquote>

<p>这次健行群内讨论“我们的三份收入？” 三份收入是指：工作收入、业余收入、投资理财收入。</p>

<h3>➀ 第二份收入 - 鲜果切</h3>

<p>要特别感谢<em>@谷佳良</em>的分享，详细介绍了自己业余收入的一次尝试，非常的精彩，他根据自己的情况做起了鲜果切的生意，从有想法到遇到困难，并想办法解决，虽然事情不算大，但是内在的一些思考并实践很有意义，特意整理如下(内容有删减整理)，希望对看到此文章的人有所启发。 </p>

<h4>有了一个想法</h4>

<p>我工作的地方是大量银行的开发中心聚集的地方 </p>

<p>但是却地处偏僻 </p>

<p>交通银行、平安、浦发、太平、农商等等 </p>

<p>所以外卖很发达 </p>

<p>各个园区里面都环境不错，但是整体那个区域，商业及其匮乏 </p>

<p>都是来自1.5公里以外的小镇子上的饭店的外卖 </p>

<p>2014年，我就觉得吧，这移动互联网都这么火热了，我还在这传统软件公司，干着这传统银行业务系统，就在网上查相关的信息 </p>

<p><strong>鲜果切 — 就是水果切好了放在盒子里&nbsp;</strong></p>

<p>现在这玩意已经烂大街了 </p>

<p>当时上海几乎没有</p>

<h4>第二天就开始干</h4>

<p>然后，次日中午，我就在园区外面卖 </p>

<p>小番茄,洗一洗就装盒了,完后城管就来问候我了 </p>

<p>我转变思路 </p>

<p>啥事情是城管不管你还能卖的呐，那就是你是送外卖的，直接发生交易，而不是在街上要喝的</p>

<h4>搞定供应商</h4>

<p>然后我找了两家水果店 </p>

<p>全部都是水果店做</p>

<p>作为我的供应商 </p>

<p>注册了公众号 ，印了名片 </p>

<p>我在想在微信上下单 </p>

<p>我当时只有一个人做 </p>

<p>我发现公众号有很大的问题是 </p>

<p>我没法跟我的客户沟通</p>

<p>不适合我这个事情</p>

<p>公众号的方式是，他要先跟我说我才能跟他说</p>

<p>而且还必须是在PC端,银行内部都是不结外网的 </p>

<p>所以我就把我的传单 </p>

<p>全部改成一个普通的微信号</p>

<h4>&nbsp;这个玩法是这样的</h4>

<p><strong>获客：</strong> 中午或下午下班的时候，在路口发传单或者做活动，盛夏时节，上海的南汇8424西瓜，只需要1块钱1斤，我全部将果肉放到50克的水果杯里，成本算上杯子才9毛钱，下班路上只要扫一扫我，你就拿走一盒，再去坐车。做好了送过来，我在路口等着，加工全部是水果店做。 </p>

<p><strong>&nbsp;各种绞尽脑汁</strong></p>

<p>而且我的传单就是纯文字，背面一个二维码，就是这么神秘感</p>

<p>有时候有保安无意间看到我，问我怎么发传单，我说是行内福利活动 </p>

<p>我尝试了发传单，上面印的是，<em>“我不仅要看泷泽萝拉，我还要吃水果沙拉”&nbsp;</em></p>

<p>希望引导男性客户购买, 但是男性明显没有女性购买力大 </p>

<p>买10盒送一个小沙拉条 </p>

<p>最早的那个是，<em>“531累疯了吧，来颗小番茄怎么样”</em>,一看就深有体会 </p>

<p>531，只有在交行干过的人才知道 </p>

<p>531是个项目代号，牵扯到50多个项目组大概</p>

<p>上千人，天天10点半 </p>

<h4>客户经营</h4>

<p><strong>销售：</strong> 微信发朋友圈，我的水果切都是分成果拼1号，果拼2号。。。。。这种名字，每个都是三种水果的搭配，其实就是一个贵的火龙果草莓这种的，再配俩便宜的。成本5元，400克一盒，售价10元。</p>

<p>用户微信付款</p>

<p>我联系水果店加工送货，水果店只送货不收钱</p>

<p>如果是大客户 </p>

<p>这种都是1次订30盒以上的</p>

<p><strong>我会截单，防止被水果店搞掉客户</strong></p>

<p>截单指的就是，我让他送到园区门口，然后交给我，我打电话，装成是快递小哥</p>

<p>然后用户来拿货</p>

<p>每个项目组大概都有这种性格的人，就是订饭帮大家订，订个零食下午茶的，也是要呼三喊五的一起搞</p>

<p>这属于B客户</p>

<p>这种多为女生 </p>

<p>伺候好她们就可以了 </p>

<p>一般订5盒的就是C客户 </p>

<p>5盒起订</p>

<p>哦，对了要和水果店谈好，购买餐饮类或者食品类发票的事情 </p>

<p>只要是遇到团建，那都是大活儿</p>

<p>很多都是要报销的</p>

<p>然后我就在朋友圈做活动，提高用户活跃度</p>

<h4>冬天来了</h4>

<p>当我做下几单千盒生意时</p>

<p>然后我就开始办卡了 </p>

<p>就是一次充值1000，8折，500，9折这种 ，有买的</p>

<p>我说的这些，发生在什么时候呐，全部发生在几个月里面这几个月叫做夏天</p>

<p>上海没有秋天</p>

<p>只有冬天和夏天</p>

<p><strong>夏天结束了，冬天来了</strong></p>

<p>我的冬天也来了</p>

<p>真他妈见活鬼了，真的是惨淡啊 </p>

<p>我把卡都退了</p>

<p>钱都退了</p>

<p>因为实在是量太小，供应商不愿意跟我玩 </p>

<p>头两个月确实不挣什么钱，全部一共也就几万块钱，所有加起来 </p>

<p>第一次突破日均100盒的时候，我都激动死了 </p>

<p>微信大概不到1000人 </p>

<p>都是妹子，男的好像不吃水果 </p>

<h4>收获</h4>

<p>收获太多了，后来我去了一家互联网公司，我就知道他们的套路，拉新提高转化率提高客单价 ，怎么引流，客群分类，虽然我是野路子</p>

<p>但是举一反三地很多东西是, 比如说：我买10块钱一斤苹果，你心里是不是有杆秤，大概感觉的出来贵还是便宜的对吧 ，但是我卖10块钱400果肉克，你心里的判断标准被打乱了，其实不太清楚这个应该卖多少是有道理的</p>

<p>如果你卖果汁，这是成熟的商品类目 </p>

<p>你心里有杆秤</p>

<p>那玩意都是明码标价的东西</p>

<p>我卖给你COCO的奶茶，我加5块钱手续费，你也得接受啊</p>

<p>如果是服务行业，对消费者的承诺真的很重要，这个教育了我太多 </p>

<p>尤其是你想做高频高复购率的项目</p>

<p>上海这边整体的互联网氛围比北京要慢半拍到一拍</p>

<p>就是因为兼职创业的这个事情最终失败了，所以触发了我辞职换工作，去了一家互联网（还他妈是家互联网创业）公司 </p>

<p>累的跟狗一样 </p>

<p>哈哈哈</p>

<blockquote>
    <p>以上就是分享的主要内容，这次分享大家感触很多，都很欣赏分享者的做法，觉得有想法、有行动、有策略，是个值得学习的实操。虽然没有赚很多钱，这个过程本身就是很好的一次业余收入的践行。</p>
</blockquote>

<h3>➁ 什么样的三份收入？</h3>

<p>三份收入不是说让你打三份工，然后拿三份工资。这样做唯一的结局，就是本职工资都会丢掉。</p>

<ul>
    <li>1 、本职工资收入。</li>
</ul>

<p>这个将是应对日常开支，生活风险的重要现金流，一开始应该是你的主要收入来源。</p>

<ul>
    <li>2 、业余收入，或者叫第二职业。</li>
</ul>

<p><strong>这个第二职业是在利益及时间上完全不会与本职工作产生冲突的一个工作</strong>。这个工作是自己为自己打工，雇主是你自己。互联网时代对于个体崛起而言是最好的时代，每个人只要愿意，都可以以自己的一技之长或者兴趣爱好，找到愿意为之付费的粉丝或客户。</p>

<p>第二职业获得的收入，<strong>需要再投入到探索兴趣或者增强技能的输入上，不断的获得收入，探索，增强，再获得收入，再探索，再增强，以此不断激发对第二职业的热情，从而获得更大的收入。</strong></p>

<ul>
    <li>3、 投资收入</li>
</ul>

<p>本职工作和第二职业产生的收入，都是在做加法，而投资，属于<strong>复利增长</strong>，是做指数运算。</p>

<blockquote>
    <p>针对上班族而言，如果能建立起三份收入，将会帮助自己建立更大，更多的连接，“人生超链接”的机会将会更多。而仅有一维竞争力的人，竞争和生存优势会越来越弱。</p>
</blockquote>

<h3>③ 斜杠青年</h3>

<p><strong>斜杠青年</strong>，指的是这样一个人群：他们不满足单一职业和身份的束缚，而是选择一种能够拥有多重职业和多重身份的多元生活。这些人在自我介绍中会用斜杠来区分，例如，张三，记者/演员/摄影师。</p>

<p>例子：工作时间是IDC行业的程序猿，休息的时候就变成了笔耕不辍的作家，周末还能化身成变出一桌美味菜肴的营养师...这“程序猿/作家/营养师”的多重身份，就是对「斜杠青年」的完美诠释。</p>

<p>斜杠青年的出现并非偶然，而是社会发展的必然现象，也是进步的体现。这种进步使人类摆脱“工业革命”带来的限制和束缚，释放天性。</p>


