<blockquote>
    <p>「狸木匠 | 健行」分享生活或工作中，<strong>好物、工具、观念</strong>，提高我们的效率、增强健康意识。公众号后台回复关键字<strong>微信群</strong>获取入群通道</p>
</blockquote>

<p><em>隐形冠军</em>的含义：“隐形”的意思是指这些企业几乎不为外界所关注；而“冠军”则是说，这些企业几乎完全主宰着各自所在的市场领域，他们占有着很高的市场份额，有着独特的竞争策略，往往在某一个细分的市场中进行着专心致志的耕耘。</p>

<p>此次群内主要分享了刘大猫的大学期间的一次赚钱的经历，从不明白，到发现机会，然后快速投入并获取丰厚的回报。整个过程很值得我们思考和沉淀，对我们自己的认知会有积极的影响。下面文章有整理。</p>

<h2>一次赚取3000万的经历</h2>

<p>我观察到当时大部分有流量的站长中，一般会有两种主流的赚钱的模式：</p>

<p>一种是在网站里接入如“百度联盟”“google联盟”的广告，然后用户点击了网站上的广告，站长就可以获得收入。</p>

<p>另一种是淘宝联盟，俗称“淘宝客”。</p>

<p>所谓淘宝客，简单的理解就是，你可以通过淘宝联盟这个平台帮淘宝里海量的商品进行分销，如果有用户通过你的专属购买链接在淘宝上买了某款商品，你就可以获得佣金。其实当时的蘑菇街，美丽说，返利网之类的，本质都是用淘宝客的模式在变现。</p>

<p>我起先并不很看好淘宝客这个模式。因为我看到很多网站包括一些人的qq空间，qq里都在发淘宝的链接，这些其实都是淘宝客，我换位思考后认为我自己是绝不会通过这些渠道到淘宝上购物。 我要网购可以直接去淘宝上购买，为啥通过这些链接买呢？</p>

<p>我因此断定淘宝客这样的变现模式，肯定没什么转化率的。但我又很疑惑，这个东西要是真不赚钱，为什么还有这么多人做呢？</p>

<p><strong>其实那时候我犯了一个很多人在互联网创业中犯的错误，即：以自己的想法单方面判断用户行为。</strong></p>

<p>我后来发现，其实我自己的行为根本就不代表其它人，<strong>互联网的创业其实很多时候是不能相信“换位思考的”的，而要以真实的数据为依据。</strong></p>

<p>我看到很多不接地气的“阳春白雪”创业者，他们往往都是精雕细琢做一些自认为很不错的东西。但其实把他们的东西放到互联网上，大多数用户根本不能接受。他们口口声声喊着用户体验，但却不愿真正的站在用户的角度看问题。</p>

<p>就像现在微信里有很多所谓的“微商”。有的人肯定会对微商非常不屑，他们理由可能是：我从来不在微信朋友圈里买东西，这样的生意肯定做不成。但事实他们根本就没有深入研究过，仅仅是凭自己的感觉下结论。</p>

<p>再举一个不算恰当的比方，我们每个人都收到过诈骗短信或电话，而我们常常收到诈骗短信的时候，我们会想，这骗术也太低劣了，怎么可能有人上当呢？</p>

<p>但你别说每天还真有不少人上当，如果说群发1千个短信里有1个人上当，那1万个人里就一定有10个人上当，100万人里就有1000个人上当。转化的概率是稳定的，这样一个看似不靠谱的诈骗生意，实则居然变成了一个稳定赚钱的事情。</p>

<p>其实有时互联网的商业模式真可以类比成这样。<strong>它是一个跟模型，概率，转化率息息相关的生意。</strong></p>

<p>因为当时看很多人在做淘宝客，我想这一定是有他的道理的，要不然不会有这么多人去做。于是我也决定要研究研究，但当我开始深入研究淘宝客的时候，我才恍然大悟只怪自己接触得太晚，我发现淘宝客里是有很多的商机值得好好挖掘的，而我却一直因为自己的主观判断而到今天才来接触，稍微了晚了一点。这是当时一个非常好的互联网变现通道，我必须要抓住这个机会！</p>

<p>我也认识了很多做这一块的高手。譬如我在以前的文章中提到过的璐玥，大q等等。他们都是极其厉害的高手，每年在淘宝客上收入数千万级别。</p>

<p>但大多数站长做淘宝客其实都是用的比较普通的模式，例如做一个网站，然后通过搜索引擎吸引一些流量来转化，要么就是铺天盖地到处发广告链接。而我仔细研究了像璐玥，大q这些大神做淘宝客的方法后，我发现他们的模式我压根儿就看不懂，感觉里面一定深藏着很多普通站长想不到的秘密。</p>

<p>常规的淘宝客方法我很快都尝试过了一遍，我发现这些常规的方法也是能盈利的，但是盈利速度太慢了，换作两年前我或许愿意去做，但现在并不太想去做这样的生意，因为这更像一个互联网上的体力活。</p>

<p>但大神们似乎都不是在做体力活的，我仔细观察大神的玩儿法。渐渐的我发现我此前的思维都只是一个普通人的思维，其实不仅是淘宝客，包括后来的微信公众号等等，这些东西要想赚点小钱很容易，但要赚大钱，都不能按照普通人的思维去做：<strong>普通人的思维永远都是用加法赚钱，而大神则是用乘法赚钱。</strong></p>

<p>所有普通人面对淘宝客这个东西，他们都认为，这就是一个阿里巴巴旗下的分销联盟，阿里给你一个商品链接，然后你去用流量推广这个链接，成交后拿分成，就这么简单，其实你可以把他理解成那么简单。</p>

<p>但是他这样的机制下，又有很多的策略值得深度思考。我可以简单的提一下，但是不深入说了：</p>

<p>我观察到大神们，他们为什么通过淘宝客能赚那么多钱，是因为他们看穿了这个机制的核心，因为淘宝客无需要电商的供应链就可以通过销售电商的产品赚钱，门槛很低，而且阿里是大公司，它的信誉又好，这是一个基础。<strong>而淘宝客的核心就在于它是一个流量变现通道。大神与屌丝们看似做同样的事情，但其实他们只是走了同样的变现通道，而盈利模型上屌丝与大神完全不在一个维度上。</strong></p>

<p>大神们只需要控制互联网的一部分流量，而互联网的流量分发权归谁控制？ 按照我当时的浅显认知，我们 认为最大的分发平台是当时的百度。</p>

<p>但后来发现完全不只有百度控制流量，而电信运营商，公安部门，wifi，浏览器再到百度等等，每个环节都是流量要经过的地方。<strong>这个时候所有的屌丝与草根都在盯着百度搜索这个环节获得流量的时候（有点类似今天人人都盯着微信公众号指望获得流量）大神们早就在其他的流量分发环节上下功夫了，他们能通过商务能力与技术思维让某个流量分发渠道上原本就有淘宝购物需求的流量走他的链接购物，这对客户没有任何影响，甚至还可以得到返利。</strong></p>

<p>这个我就不多说了，本质上其实就是普通屌丝站长和大神他们看似变现的方式都是通过淘宝客，但是他们的赚钱模型却完全不在一个维度上面。</p>

<p>可以再打个通俗的比方。一般保险公司都会发展业务员帮他们卖保险从而获得收益分成。但是普通的保险业务员肯定是干体力活，到处跑着找客户，他们赚些小钱或许可以，赚大钱就难了。</p>

<p>但是如果一个保险业务员有办法在一个大集体中找到原本就有购买保险需求的客户群体，然后想办法让这一大批人通过自己的工号来购买保险，那获得佣金的效率与规模就不一样了。</p>

<p>这就是普通人和大神的思维差异，无论是做淘宝客还是做保险，大神和屌丝变现通道都一样，但不一样的是他们的商业模型，普通人用加法做苦力，辛苦寻找单一的客户，而大神总是能思维开阔的找到那个用户池，然后将池子里的订单全部通过自己的渠道走。</p>

<p>我想通这个道理后，我决定我也要用这样的思维去做事情，切不可再做苦力用加法赚钱。淘宝客是一个很好的变现通道，我必须抓住这么好的变现通道来为我带来收入，但我只认为淘宝客是一个变现通道而非商业模型，我要通过淘宝客这条变现通道赚钱的话，还必须要有一个能产生大流量的商业模型。</p>

<p><strong>当然有一点很重要，所有的大神并非天生是大神，并且许多大神也是从做苦力的草根一步步走过来的，如果暂时自己还不具备大神那样用乘法赚钱的能力，那就应该先脚踏实地先把加法赚钱的事情认真做好。</strong></p>

<p>我认定淘宝客是目前一个非常适合我的变现通道。但是光有变现通道还不够，我还得做一个最适合这套变现通道的商业模型。</p>

<p>当时包括我在内的所有站长们，思维里都认为我们在互联网上创业，肯定得做一个网站出来，并且自己的网站才是流量的中心。我们心里都会觉得，如果在互联网上创业连个网站也没有，那哪儿能算是做互联网呢？就像后来在移动互联网时代，很多的创业者总觉得非要开发个app才叫移动互联网创业者一样。</p>

<p>但其实这种思维有时是错的。我渐渐意识到，其实一个自己的独立平台譬如网站或app，这些获得用户，获得流量的成本相比于寄居在其他大平台上获得流量的成本要大很多。比如我如果在新浪上开一个博客或微博，我微博里获得粉丝的成本会比网站获得访问量容易很多。</p>

<p>于是我开始有了一个大胆的思考。我想接下来做流量，做淘宝客，是不是可以不用自己独立的网站或者不以独立的网站为主。<strong>而是寄居在当时的一些大流量的社交平台上，比如人人网，开心网等这样的平台上，利用大平台更低廉的获取用户流量呢？</strong></p>

<p>而在那时候恰好整个互联网领域都掀起了一股“开放平台”的热潮。人人网，腾讯，新浪等等纷纷宣布要做开放平台。当时的开放力度挺大，每个人都有机会在这些大平台里拿到一些接口，然后去开发一些基于这些大平台的应用。</p>

<p>而我刚听到这个消息以后，我去每个开放平台的网站上看了一遍。看完我就知道，我的大机会真的来了。<strong>我要利用这些开放平台来做商业模型，然后与阿里巴巴的淘宝客的变现通道结合起来。</strong></p>

<p>我在2013年的暑假里开始组织人马做淘宝客项目，并且直接放弃掉做网站，而是全力投入在腾讯开放平台，人人网和开心网等几个平台。在人人网和开心网我们都获得了很多的粉丝。我们只抓最核心的事情，在获取流量上投入百分之90的精力，其他方面都不浪费太多时间。</p>

<p>我对技术大牛也从不吝啬，比如有一个想法，要做一个开放平台上的程序，立马就愿意花钱请人做。<strong>我看到有一些有创业想法的人，他们心态很不好，心里有一个想法，然后就是到处找人和他合作，最好免费帮他做最好，舍不得花钱。为了省一些小钱，而没有效率，没有魄力，这样的人很难做起来。我不喜欢这样。</strong></p>

<p>我在人人网和开心网的策略主要就是通过这些平台做很多的大号出来，人人公共主页，人人个人账号我都做，积累了不少流量。而对于腾讯开放平台，我们就是在里面做qq空间大号，做qq空间应用。也获得了很多的用户。</p>

<p>这一块当时进去做的人，只要花点心思，其实都能获得不少流量。那才是真正的流量红利期，是真正时代的机会，相比于后来微信公众号的流量红利期更容易。但遗憾的是，那时候大多数人还看不上这些寄居在其他平台上的生意，总想着自己做网站，自己做app，看不上寄居在大平台上的机会。</p>

<p>而我们却把这些平台的流量直接想办法导入到淘宝，获得淘宝佣金。那时候淘宝客的生意我真是做得风生水起，每天都赚很多钱，真的可以用“闷声发大财”这个词语去形容，是那几年里人生最得意与丰收的时候。</p>

<p>我说那时候我通过这个商业模型赚了多少钱，说出去可能会把别人吓到，到2016年底的今天我拥有近3000万的个人资产，其实在我后来的经历里我是遭遇过一些投资失败的，要不是有一些投资失败，我今天的资产因为做淘宝客时的积累会远比3000万这个数字更多。</p>

<p>其实那一波机会里，也有一些人和我们一样闷声发了不少大财，后来从中走出了好几个亿万富翁与独角兽的互联网公司，譬如我后来加入的楚楚街公司，他们其实也是通过人人网，腾讯开放平台＋淘宝客的战略起步，做到今天通过不断转型迭代市值已超过了10亿美金。我相比于他们来说就差多了，我只是赚了不少钱，但没有因此做出一个大公司来，但这其实并不代表我格局不如他们，主要那些人他们当时年龄就比我大不少，在他们那个年龄段抓住那样的机会一定会比我做得更出色。我那时候还在上学，还没走向社会，很多事情也不太懂。</p>

<blockquote>
    <p>机会窗口往往并不长，需要仔细观察并研究，确立一个可行的商业模型，然后全力投入，才会在有限的时间里获取最大的价值。什么是机会？机会就是那些普通人并不认为是机会的机会。做到这一点并不容易，需要主动的深入并思考。先升级思维模式，看待事物的角度就会不一样，再去寻找机会；然后是科学的方法论来执行，这才有可能让机会变成机会，否则就是空想。</p>
</blockquote>

