<p>「狸木匠 | 健行」微信互动群分享生活或工作中，好物、工具、观念，提高我们的效率、增强健康意识。公众号后台回复关键字<strong>微信群</strong>获取入群通道</p>

<p>肩颈酸痛、高低肩、脊柱劳损……这些让人苦不堪言的疾病居然有可能是背包包“背”出来的！每天上下班、上下学相伴的背包、挎包，是如何成为危害健康的“炸弹”？专家表示，背包款式、重量、背包姿势等都可能是你走向“不健康”的因素。因此，<strong>只有选择合适自己的背包，科学地背包，适当地减重，才能远离“背包病”。</strong></p>

<h3>3种背包方式最毁健康！</h3>

<p><strong>1、单侧肩背最伤身</strong></p>

<figure><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-12-232420.jpg?imageView2/2/w/600"/></figure>

<p>对于成年人而言，最常见的背包方式就是单肩侧背包。且不论女士们最青睐的单肩包，即使是双肩包，不少人也是习惯用单侧肩膀背。</p>

<p>专家表示，不正确的背包姿势是导致健康隐患的重要因素之一，长期单肩背包，尤其是包包比较重时，为了负荷背包的重量或者为了让包包不下滑，单侧背包时经常会不自觉地抬起一边肩膀，同时脖子也不自觉地倾向另一边，如此就会造成这边肩部肌肉收缩、紧绷，无形中会造成肩部肌肉劳损，短时间内会出现肩背酸痛等问题。</p>

<p>而从长远看来，长期固定一侧背包会让脖子与被压迫的肩膀形成张力，脊柱受力不平衡，可导致椎间盘发生移位，或者引发颈椎病等。</p>

<p><strong>2、双肩包过重也伤身</strong></p>

<figure><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-12-232532.jpg?imageView2/2/w/600"/></figure>

<p>除了背包姿势外，包包的重量对人体所造成的伤害也不可忽视。手机、电脑、书本……现在人们的背包里装载了太多的物品，加上一款外观大方美丽的包包自身重量也不小，这些无形中都增加了脊柱的负担。其实，背包体重对健康造成损伤，已经不是什么新鲜的事情了。</p>

<p>即使是双肩包，如果重量过大同样会让肩背部肌肉(如斜方肌和提肩胛肌)受到压迫，酸痛在所难免。另外，背包越重膝关节的压力越大，很容易产生关节方面的问题。</p>

<p><strong>3、手拎包压迫胳膊神经</strong></p>

<figure><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-12-232628.jpg?imageView2/2/w/600"/></figure>

<p>即使是手拎包，无论是挂在胳膊前臂上，还是拎在手中，也会对拎包一侧手臂造成压迫，如果不适时换手，会压迫神经，致使胳膊的血液循环变差，进而产生疼痛。</p>

<p>专家提醒，单侧拎包时，包包离开身体越远，从受力平衡的角度看，对脊柱的影响越大。而影响是长期渐进、难以察觉的，当问题爆发出来时，损伤已经造成了。</p>

<h3>其他背包方式优缺点</h3>

<p><strong>斜挎背</strong></p>

<figure><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-12-233047.jpg?imageView2/2/w/600"/></figure>

<p><em>好处</em>：</p>

<p>斜挎背能令肩带固定，不易滑落，肩关节无需向前靠拢，可避免驼背。</p>

<p><strong>手肘挂包</strong></p>

<figure><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-12-233226.jpg?imageView2/2/w/600"/></figure>

<p><em>好处：</em></p>

<p>肱二头肌较为强壮，可承受较大压力，感觉较轻松，并可避免手指过劳。</p>

<p><em>坏处：</em></p>

<p>1.血液循环受阻。包的压力集中在肘关节，压迫血管，会影响血液循环。</p>

<p>2.高低肩。当肱二头肌不堪重负时，须调动斜方肌上耸，对抗包的重力，会形成高低肩。</p>

<p><strong>肩带过长</strong></p>

<figure><img src="http://7u2qrr.com1.z0.glb.clouddn.com/2017-01-12-233356.jpg?imageView2/2/w/600"/></figure>

<p>坏处：</p>

<p>1.增加斜方肌压力。肩带过长，背包后坠，没有紧贴背部，肩膀要用更大的力气才能保证背包稳定，令斜方肌受压。</p>

<p>2.无法分摊压力。没有扣上胸带、腰带来分摊重量，易增加脊椎及背部肌肉的负担。</p>

<h3>如何选包包？</h3>

<p>从健康和对身体影响最小的角度来看，双肩包无疑是最优选择，而斜挎包在注意姿势的情况下也能在一定程度上减少脊柱的负担。单肩包则是几种类型的背包中最容易引起健康隐患的。</p>

<p>在背包选择方面，专家建议——</p>

<p>1、背带要宽：背包带太细，受力点的压力就越大，更容易引起酸痛等问题。</p>

<p>2、材料要轻：尽量选择材料轻或者装饰性物件较少的背包，否则单背包的重量都已经让身体“吃不消”了。</p>

<h3>如何背包包？</h3>

<p>背包的姿势也尤为重要，比如说把斜挎包当作单肩包背的，过长的肩带造成包包重心不断摇晃，为脊柱带来的“压力”超乎寻常，造成的恶劣影响甚至超过普通的单肩包。因此要弄清楚如何健康地背包——</p>

<p>1、减少摇晃：</p>

<p>无论是双肩包还是斜挎包，肩带都不宜过长，否则容易造成过度摇晃。而合适的肩带长度有助于稳定重心，身体的肌肉才不会为了不断变换的重心而不断地调整，最终因为“过劳”而受损。</p>

<p>2、背包位置不能过低：</p>

<p>想要舒适地背包包，包包不能背得太低。比如双肩包的下缘最好处于骨盆的位置。而斜挎包则最好放在腰侧，背包上缘大约在骨盆的位置为宜。</p>

<p>3、最好不要背在身前：</p>

<p>无论是斜挎包还是双肩包，从健康的角度来看都最好不要背在身前。因为受力的原因，背在身前时身体会向前倾，容易造成“驼背”。</p>

<p>4、定期换肩：</p>

<p>每个人背包都有自己偏爱的习惯，专家提醒，如果使用单肩包或者斜挎包都一定要定期换肩膀，如此能起到防止颈椎和脊椎劳损的作用。</p>

<h3>不同类型包包的使用贴士</h3>

<p><strong>如果是双肩背包：</strong></p>

<p>(1)背包越贴身越好</p>

<p>背包时要缩小腹，放松膀子，背带离身体越近、越短，背起来就越轻松，由于背包方位太高，会压榨胸椎然后垂到腰椎以下，则会加剧背脊担负，若是背包过重，主张把背带缩短，让包尽量接近身体躯干，高度维持在胸椎和腰椎之间。</p>

<p>(2)重东西放中心</p>

<p>将重的东西放在背包最中心，走路时不简单改动身体的姿态。若是东西多、分量大，能够将其分红两个小包，一个肩背、一个手提，涣散分量。</p>

<p>(3)买背包时放本书试背3分钟</p>

<p>买背包时先在包里放一本书，让包有点分量，试背3分钟，看肩部的舒适度怎么，以及包跟身体的接触面巨细、服帖程度等。尽量挑选尺度小的，背带宽的。</p>

<p>(4)尽量挑选宽肩带的背包</p>

<p>肩带太细或太短，会影响肩颈部的血液循环，或压榨到手臂神经，会对膀子、手臂形成过度的压榨，所以尽可能地挑选宽肩带的背包。</p>

<p><strong>如果是单肩包或者斜挎包</strong></p>

<p>(1)尽量少擅长提包</p>

<p>手提包最损伤女性的腰部，单肩背和手提包都简单形成身体单侧压力过大，使其身体失去平衡，单手提包时，受力笔直向下，需求别的一侧腰部用力，一不小心就会导致拉伤，此外，提包时，神经又多又细的肘关节也要用力，更简单受伤。</p>

<p>因而，手提包尽量要轻，分量不要超越体重的10%，拎包时最佳将包挂在距肘关节一指远的当地，此处肌肉对比健壮，能支撑背包分量。</p>

<p>(2)“背中心”和“往后背”最佳</p>

<p>“背中心”的意思是把挎包刚好背在手臂与躯干之间，用手悄悄夹住，这种方法能够减轻肩部所担负的力气，“往后背”的意思是，若是你不喜欢夹着挎包，那么挎包稍往后挪比往前要好。</p>

<p>由于腰背部的肌肉较胸腹部的多，所能接受的力也更多，更重要的是，若是包包长时间背在前面，重力在前，身体不知不觉会前倾，驼背呈现，十分影响漂亮，而往后背则利于身体坚持挺立。</p>

<p>(3)臂挽包包比手拎要好</p>

<p>用手拎着包包，手臂的关节需求前后摇摆、屈伸，很简单形成网球肘，而臂挽包包，则可训练到肱二头肌。</p>

<p>不过要注意的是若是长时间单侧臂挽，很简单呈现一条手臂较粗，另一条较细的状况，要进行左右手轮换才能够。</p>

<p><em>文章来源：网络</em></p>
</div>